// ARCHITCTURE | DOING |
//  - ZERO     | DONE  |
//  - BASE     | DONE  |
//  - ARCH     | DOING |
//  - EXPO     | DOING |
//  - GRID     | TO:DO |
//  - WRPR     | TO:DO |
//  - INFO     | DOING |

// INTERACTION | TO:DO |
//  - X        | TO:DO |
//  - Y        | TO:DO |
//  - Z        | TO:DO |

// AESTHETICS  | TO:DO |
//  - _ATT     | TO:DO | 
//  - RGBA     | TO:DO |
//  - LIST     | TO:DO |
//  - FORM     | TO:DO |
//  - TABLE    | TO:DO |
//  - TYPE     | TO:DO |
//  - ICONS    | TO:DO | 

@charset 'utf-8';
@import '_0/FDL';

$s:  'Playfair Display', serif;
$ss: 'Lexend Deca', sans-serif;
$ms: 'Share Tech Mono', monospace;

$vip: !important;
$box: border-box;
$xsb: true;

// higher order concepts are most beneficial in terms of appending html
/*
more general style iterations that account 
for font, color, dimension, porportion and 
position... Print, Managazine, Technical 
Artistic, etc... 
*/
$base: 1.6rem;
$maxw: 100%;
$maxh: 100%;
$minw: $base * 20;
$minh: $base * 30;

$nav-xt: true;
$nav-xb: true;
$nav-yl: true; 
$nav-yr: true; 
$nav-w: 100%;
$nav-h: 21px;
$nav: $nav-x;

$sb: space-between;
$sa: space-around;
$se: space-evenly;
$fs: flex-start;
$fe: flex-end;
$fc: center;

$clr: transparent;

$blk: 022,022,022;
$gry: 105,101,094;
$wht: 249,246,239;

$r_1: 255,205,210;
$r_2: 239,154,154;
$r_3: 248,187,208;
$r_4: 242,156,173;
$r_5: 236,125,139;
$r_6: 231,094,104;
$r_7: 213,000,000; 
$r_8: 120,015,011;
$r_9: 074,022,016;

$o_1: 255,224,178;
$o_2: 255,204,128;
$o_3: 255,183,077;
$o_4: 255,167,038;
$o_5: 255,152,000;
$o_6: 251,140,000;
$o_7: 245,124,000;
$o_8: 239,108,000;
$o_9: 230,081,000;

$y_1: 255,252,168;
$y_2: 255,248,153;
$y_3: 255,241,112;
$y_4: 255,232,071;
$y_5: 255,221,031;
$y_6: 255,215,010;
$y_7: 245,200,000;
$y_8: 224,182,000;
$y_9: 204,163,000;

$g_1: 235,255,168;
$g_2: 219,255,153;
$g_3: 197,247,121;
$g_4: 170,236,090;
$g_5: 140,223,063;
$g_6: 107,206,039;
$g_7: 079,172,032;
$g_8: 053,138,025;
$g_9: 032,104,018;

$b_1: 187,222,251;
$b_2: 144,202,249;
$b_3: 100,181,246;
$b_4: 066,165,245;
$b_5: 033,150,243;
$b_6: 030,136,229;
$b_7: 025,118,210;
$b_8: 021,101,192;
$b_9: 013,071,161;

$i_1: 178,235,242;
$i_2: 128,222,234;
$i_3: 077,208,225;
$i_4: 038,198,218;
$i_5: 000,188,212;
$i_6: 000,172,193;
$i_7: 000,151,167;
$i_8: 000,131,143;
$i_9: 000,096,100;

$v_1: 255,190,231;
$v_2: 206,147,216;
$v_3: 186,104,200;
$v_4: 171,071,188;
$v_5: 156,039,176;
$v_6: 142,036,170;
$v_7: 123,031,161;
$v_8: 106,027,154;
$v_9: 074,020,140;

$bg: $wht;
$fg: $blk;

$dark-mode: false;

$b_: $b_7
$o_: $o_7
$r_: $r_7
$g_: $g_7

$borg: true;
$borg: $type;
$borg: $form;
$type: $borg;
$form: $borg;

// a:link
$a_l: $blk;
// a:hover
$a_h: $blk;
// a:focus
$a_f: $blk;
// a:active
$a_a: $blk;
// a:visited
$a_v: $blk;

// border-radius
// box-shadow
// container
// gradients


/*
Zuri is about establishing a
baseline within the design system
while openionated its in the most
zen way imaginable. Classes extend
the framework so that users can just
append styles to the html or js.
*/





@import '_0/UTIL';
@import '_0/ZERO';
@import '_0/BASE';
//@import '_1/GRID';
//@import '_1/ARCH';
//@import '_1/EXPO';
//@import '_2/_XYZ';
//@import '_3/AURA';

// | MEDIA QUERIES ___________________|
// | Apple    | iPhone 4  | iPhone 12 |  
// | Samsung  | Galaxy 8  | Galaxy 21 |
// | Google   | Chrome 48 | Chrome 88 |
// | Apple    | Safari 12 | Safari 14 |
