article, aside, details, div, footer, header, 
hgroup, iframe, main, nav, section {
  @include    wh(100%, 1rem, auto);
  display:    block;
  margin:     auto;
}

iframe {
  @include    sqr(100%);
  position:   relative;
  overflow:   hidden;
}

.nav, #nav{
  @include    nav($nav);
}

section {
  text-align: justify;
  position:   relative;
  overflow:   hidden;
}

span {
  @include    wh(100%, 1rem, auto);
  display:    inline;
}

