._2,._2 *,._4,._4 *,._8,._8 *,
._1,._1+*,._3,._3 *,._6,._6 * {
	box-sizing: border-box;
	background-color: rgba($blu);
	min-height: 1%;
	float: left;
}
._2 *,._4 *,._8 *,
._1 *,._3 *,._6 * {
	display: block;
	margin: 0;
}
._2,._4,._8,
._1,._3,._6 {
	padding: 0.5em;
	margin: 0.5%;
}
@each $_ in 1 2 3 4 6 8 {
	._#{$_}{
		width: 100% / $_ - 1;
	}
}
@each $_ in 1 2 3 4 6 8 {
	._#{$_} *{
		width: 100% / $_;
	}
}
@media all and (max-width: 1024px) {
	._2,._4,._8,
	._1,._3,._6 {
		margin: 0.5% 0.5% 3.25% 0.5%;
		width: 99%;
    }
	._2 *,._4 *,._8 *,
	._1 *,._3 *,._6 * {
		width: 100%;
    }
	._4 {
		width: 49%;
    }
	._6 {
		width: 32.333333333%;
    }
	._8 {
		width: 11.5%;
    }
}	