/*
| a	 				 | abbr    		| address  	 | b          |
|            ·		        ·		         ·						| 
| bdi				 | bdo				| blockquote | br					|
|            ·		        ·		         ·						|
| caption    | cite       | code       | del        |
|            ·		        ·		         ·						| 
| dfn        | em         | figcaption | h1         |
|            ·		        ·		         ·					  | 
| h2		     | h3         | h4         | h5         |
|            ·		        ·		         ·						| 
| h6         | hr         | i          | ins			  |
|            ·		        ·		         ·						| 
| kbd        | mark       | p          | pre        |
|            ·		        ·		         ·						| 
| q          | ruby       | s          | samp       |
|            ·		        ·		         ·						| 
| small		   | strong     | sub        | summary    |
|            ·		        ·		         ·						| 
| sup        | u          | var        |            |
*/	

$h6: $base;
$h5: $h6 + 8;
$h4: $h6 * 2;
$h3: $h4 + 8;
$h2: $h6 * 3;
$h1: $h2 + 8;

$sm: $base;
$xs: $sm - 4;
$md: $sm + 4;
$lg: $md + 4;
$xl: $lg + 4;
$2x: $sm * 2;
$3x: $sm * 3;
$4x: $sm * 4;
$5x: $sm * 5;
$6x: $sm * 6;
$7x: $sm * 7;
$8x: $sm * 8;
$9x: $sm * 9;

@font-face {
	font-family i
	{$_i}
}

@font-face {
	font-family b
	{$_b}
}

@font-face {
	font-family s
	{$_s}
}

@font-face {
	font-family ss
	{$_ss}

@font-face {
	font-family ms
	{$_ms}
}

.i,#_i {
	font-family i
}

.b,#_b {
	font-family b
}

.s,#_s {
	font-family s
}

.ss,#_ss {
	font-family ss
}

.ms,#_ms {
	font-family ms
}

h1 h2 h3 h4 h5 h6 {
	font-weight: 400
	line-height 1.1
}

@for $_ from 1 through 6 {
	h#{$_}
		font-size: : $_m: $_h + #{$_} px;
		font-size: : (($_m / 10 rem));
		line-height: 110%;
		margin:: (($_m / 2)) 0 (($_m / 2.5)) 0;
}
.xs, #_xs {
	font-size: : $xs px
	font-size: : (($xs / 10 rem))						
}
.sm, #sm {
	font-size:  $sm px
	font-size:  (($sm / 10 rem))
}
.md, #md {
	font-size:  $md px
	font-size:  (($md / 10 rem))
}
.lg, #lg { 
	font-size:  $lg px
	font-size:  (($lg / 10 rem))
}	
.xl, #xl { 
	font-size:  $xl px
	font-size:  (($xl / 10 rem))
}
.2x, #2x {
	font-size:  $2x px
	font-size:  (($2x / 10 rem))
}		
.3x, #3x { 
	font-size:  $3x px
	font-size:  (($3x / 10 rem))
}	
.4x, #4x { 
	font-size:  $4x px
	font-size:  (($4x / 10 rem))
}
.5x, #5x { 
	font-size:  $5x px
	font-size:  (($5x / 10 rem))
}
.6x, #6x { 
	font-size:  $6x px
	font-size:  (($6x / 10 rem))
}
.7x, #7x { 
	font-size:  $7x px
	font-size:  (($7x / 10 rem))
}
.8x, #8x { 
	font-size:  $8x px
	font-size:  (($8x / 10 rem))
}
.9x, #9x {
	font-size:  $9x px
	font-size:  (($9x / 10 rem))
}
._base, #_base {
	font-size:  $base px
	font-size:  (($base / 10 rem))
}

a {
	-webkit-text-decoration-skip: objects; 
	background-color: $clr;
	text-decoration: none;
	text-align: center;
	display: block;
}
a:active, 
a:hover {
	color: blue;
	outline: 0;
}

/*
abbr[title],
acronym[title], 
dfn[title] {
	border: none;
	text-decoration: none;
	text-decoration: underline dotted;
}
*/

address {
	$oblique;
}

b {
	text-decoration: underline;
	font-weight: inherit;
	font-weight: 800;
}


bdi
bdo
blockquote, 
q {
    quotes: none $vip;

blockquote:before, 
blockquote:after, 
q:before, 
q:after,
li:before,
li:after{
    content: "" $vip
}

blockquote {
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	min-height: 128px;
	padding: 2em 0;
	margin: 20 0;
	width: 100%;
}

br {
	padding: 1em;
	width: 100%;
	margin: 1em;
}
//caption

cite {
	$oblique
}

code {
	white-space: wrap;
	display: block;
}

code kbd, pre, samp{
  font-family: $ms;
}

del {
	opacity: .95;
}

dfn {
	text-decoration: line-through;
	$oblique;
}

em {
	$underline;
	$oblique;
	color: $mode;
}

//figcaption
//h1
//h2
//h3
//h4
//h5
//h6
hr {
	margin-bottom: 1em;
	overflow: hidden;
	width: 100%;
	height: 0;
}

i { 
	$underline;
	$oblique;
	color: $gry;
}

ins {
	background-color: #FFCC00;
	text-decoration: none;
	color: $mode;
}

//kbd

mark {
	vertical-align: bottom;
	text-decoration: none;
	background-color: #FFCC00;
	//color: 
	border-radius: 2px;
	position: relative;
	white-space: wrap;
	padding: 0.25%;
	outline: none;
	border: none;
}
p {
	text-align: justify;
	position: relative;
	display: block;
	margin-top: 0;
	height: auto;
	width: 100%;
}
pre {
	white-space: pre $vip;
	color: rgba_blk3 0.75;
}

q {
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	padding: 2em 2em 2em 2em;
	position: relative;
	margin-top: 2em;
	line-height: 2;
	display: block;
	quotes: "" "";
	height: auto;
	width: 100%;
}
//ruby
//s
//samp
small {
	font-size:  $sm;
	color: rgba_blk3 0.75;
}

strong {
	font-weight: inherit;
	font-weight: 700;
}

sub, sup {
    font-size:  75% $vip;
    line-height: 0 $vip;
    position: relative $vip;
    vertical-align: baseline $vip;
}

sub { 
    bottom: -0.25em $vip;
	color: rgba_blk3 0.75;
}

summary {
	color: rgba_blk3 0.75;
}

sup {
    top: -0.5em $vip;
	color: rgba_blk3 0.75; 
}

u {
	color: rgba_blk3 0.75;
}

//var
