//      |/z
//   –– Y –– x
//     /|


$xyz:(
  "t": "#{$t}",
  "r": "#{$r}",
  "b": "#{$b}",
  "l": "#{$l}",
);

@each $_ in $xyz {

}


.x,.y,.z ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

//@import '../_2/X'
//@import '../_2/Y'
//@import '../_2/Z'