//      |/z
//   –– Y –– x
//     /|

//           | TL _| TR _| BL _| BR _|
// | X | LAT | XQ1 | XQ2 | XQ3 | XQ4 |
// | Y | LON | YQ1 | YQ2 | YQ3 | YQ4 |
// | Z | DOF | F/0_______| F/9_______|


// POSITION -> DIMENSION -> 
// FLOW -> DIRECTION -> ORGANIZATION -> SYMMETRY

// Pixel shifting 
// {+ 8} 16 24 32 40 48 56 64 72 80 88 96





$xyz:(
  "t": "#{$t}",
  "r": "#{$r}",
  "b": "#{$b}",
  "l": "#{$l}",
);

@each $_ in $xyz {

}


.x,.y,.z ul{
  list-style: none;
  padding: 0;
  margin: 0;
}




//@import '../_2/X'
//@import '../_2/Y'
//@import '../_2/Z'