$canvas_header_gradient: linear-gradient(180deg, rgba(229, 226, 217,1) 0%, rgba(229, 226, 217,1) 75%, rgba(229, 226, 217,0.9) 100%);

$canvas_footer_gradient: linear-gradient(0deg, rgba(229, 226, 217,1) 0%, rgba(229, 226, 217,1) 75%, rgba(229, 226, 217,0.9) 100%);

$h2_x: 100% / 3;

// canvas
.canvas {
  background-color: rgb(229, 226, 217);
  @mixin f(flex, row, nowrap, se, fc, fc);
  @mixin sqr(100%);
}

.c1, .c2 {
  @mixin f(flex, column, nowrap, fc, sb, fs);
  @mixin sqrp(4px);
}

// c1
.canvas .c1 {
 @mixin sqrw(80%);
}

// c2
.canvas .c2 {
  background-color: $clr $vip;
  @mixin sqrw(20%);
  .notify {
    background-color: rgba(#F9F6EF,0.24);
   @mixin  sqr(100%);
  }
}

@media screen and (max-width: 1024px){
  .c1 {
   @mixin sqr(100% $vip);
   }

  .c2 {
    display: none $vip;
  }
}

.canvas header, .canvas footer {
 @mixin f(flex, row, nowrap, sb, fc, fc);
 @mixin w(100%, 100%, 100%);
}

// HEADER
.canvas header {
  background: $canvas_header_gradient;
  @mixin h(5%, 64px, 5%);
  margin-top: 0px;

  .h1 {
    @mixin f(flex, row, nowrap, fs, fc, fc);
    @mixin h(100%, 100%, 100%);
    @mixin w(64px, 64px, 25%);
    margin-left: 0px;
    a {
      border-radius: 96%;
      overflow: hidden;
      display: block;
      @mixin sqrw(64px);
      @mixin sqrp(8px);
    img {
      @mixin sqr(100%);
      border-radius: 96%;
      @mixin sqrb(2px,solid,rgba(#FF4F00,0.96));
      box-shadow: 2px 2px 4px 2px rgba(48,48,48,0.24);

  .h2 {
    @mixin f(flex, column, nowrap, sb, fc, fe);
    @mixin w(480px, 240px, 75%);
    @mixin h(100%, 100%, 100%);
    @mixin p(0px,8px,0px,0px);
    margin-right: 0px;
    }
    .h2_x {
      @mixin sqrh($h2_x);
      @mixin m(0px,0px,0px,0px);
      //p(1px,4px,0px,4px)
    }
      input {
        @mixin w(100%, 100%, 100%);
        @mixin h(60%, 20px, 60%);
        @mixin p(0px,0px,0px,0px);
        outline: none;
        background-color: $clr;
        letter-spacing: 1px;
        @mixin b(0px,0px,1px,0px,solid,black);
     }
      span {
        @mixin f(flex, row, nowrap, se, fc, fc);
        @mixin sqr(100%);
        b {
          font-family: 'Source Code Pro';
          font-size: 12px $vip;
          line-height: 22px;
          margin-left: 0px;
          @mixin sqrw(100% / 2);
          letter-spacing: 1px;
          color: #000000;
        }
        b:nth-child(1) {
          text-align: left $vip; 
          font-weight: 200;
        }
        b:nth-child(2) {
          text-align: right $vip; 
          font-weight: 400;
        }
        a {
          font-family: 'Source Code Pro';
          font-weight: 400;
          font-size: 20px;
          margin-right: 0px;
          text-align: right;
          color: #FF4F00;
          @mixin sqrw(50%);
          :hover {
            font-weight: 80;0
          }
     }
}
// MAIN
.canvas main {
  @mixin w(100%, 100%, 100%);
  @mixin h(90%, 320px, 90%);
}

// FOOTER
.canvas footer {
  background: $canvas_footer_gradient;
  margin-bottom: 0px;
  @mixin h(5%, 48px, 5%);
  nav
    @mixin f(flex, row, nowrap, fc, fc, fc);
    @mixin sqr(100%);
    ul
      @mixin f(flex, row, nowrap, se, fc, fc)
      @mixin w(480px, 240px, 100%)
      @mixin h(100%, 100%, 100%)
      list-style: none;

      li {
       @mixin  f(flex, row, nowrap, fc, fc, fc);
       @mixin  sqrw(100% / 5);
        a {
         @mixin f(flex, row, nowrap, fc, fc, fc);
        }
        a:hover{
          opacity: 0.88;
        }
        a img, a + img {
          display: block;
          @mixin sqr(16px);
        }
        
      }
      :nth-child(1) 
        a {
          font-family: HKNova;
          @mixin p(0px,0px,0px,5px);
          line-height: 22px;
          font-size: 24px;
          display: block;
          color: rgba(48,48,48,1);
          @mixin sqr(24px)
        }
        b {
          font-size: 20px;
          color: #FF4F00;
        }
       }

      :nth-child(3) { 
        a
          @mixin sqrb(2px,solid,rgba(48,48,48,0.96))
          border-radius: 96%;
          @mixin sqr(32px)
        a:hover{
          // b(2px,1px,2px,1px,dotted,rgba(#FF4F00,0.96))
          // transition-duration 0.48s
          // transition-delay 0.24s
          // img
          //   opacity 0.48
        }
      }
 }
    
  
