.z label, .z input{
	display: none;
}

.z{
	border: 0.5px solid rgba(74,74,74, 0.1);
	background: rgba(254,254,254, 1);
	border-radius: 1px;
	max-width: 391px;
	min-width: 65px;
	position: fixed;
	height: 64px;
	z-index: 1;
	right: 0;
	top: 0;
}
.z ul{
	list-style: none;
	height: 64px;
}

.z li{
	border-right: 0.5px solid rgba(74,74,74, 0.1);
	min-width: 64px !important;
	height: 64px;
	float: left;
}
	/* nav ul li */
	.hexa li:nth-child(1){max-width: 128px;}
	.hexa li:nth-child(2){}
	.hexa li:nth-child(3){}
	.hexa li:nth-child(4){}
	.hexa li:nth-child(5){}
	.hexa li:nth-child(6){}
	.hexa li:nth-child(7){display: none;}

.z img,svg{
	padding: 0px;
	height: 64px;
	width: 64px;
}
	/*
	______________________________

	DROP MENU
	______________________________
	*/
	.z ul ul{

		border-top: 0.5px solid rgba(74,74,74, 0.1);
		overflow: hidden;
		background: #fefefe;
		position: absolute;
		max-height: 2em;
		min-width: 64px;
		display: none;
		width: 100%;
		top: 4em;
		right: 0;
	}
	.z li li{
		border-left: 0.5px solid rgba(74,74,74, 0.1);
		border-right: 0;
		width: 64.7px;
		float: right;

	}
	.z li a{
		text-decoration: none;
		text-align: center;
    line-height: 64px;
		display: block;

	}
		/* nav ul li ul li */
		li li:nth-child(1){}
		li li:nth-child(2){}
		li li:nth-child(3){}
		li li:nth-child(4){}
		li li:nth-child(5){}
		li li:nth-child(6){border: 0;}

	.z li:hover ul {
	  visibility: visible;
	  display: block;
	  opacity: 1;
	}
