$_:(
"r_1": "#{$r_1}",
"r_2": "#{$r_2}",
"r_3": "#{$r_3}",
"r_4": "#{$r_4}",
"r_5": "#{$r_5}",
"r_6": "#{$r_6}",
"r_7": "#{$r_7}",
"r_8": "#{$r_8}",
"r_9": "#{$r_9}",

"o_1": "#{$o_1}",
"o_2": "#{$o_2}",
"o_3": "#{$o_3}",
"o_4": "#{$o_4}",
"o_5": "#{$o_5}",
"o_6": "#{$o_6}",
"o_7": "#{$o_7}",
"o_8": "#{$o_8}",
"o_9": "#{$o_9}",

"y_1": "#{$y_1}",
"y_2": "#{$y_2}",
"y_3": "#{$y_3}",
"y_4": "#{$y_4}",
"y_5": "#{$y_5}",
"y_6": "#{$y_6}",
"y_7": "#{$y_7}",
"y_8": "#{$y_8}",
"y_9": "#{$y_9}",

"g_1": "#{$g_1}",
"g_2": "#{$g_2}",
"g_3": "#{$g_3}",
"g_4": "#{$g_4}",
"g_5": "#{$g_5}",
"g_6": "#{$g_6}",
"g_7": "#{$g_7}",
"g_8": "#{$g_8}",
"g_9": "#{$g_9}",

"b_1": "#{$b_1}",
"b_2": "#{$b_2}",
"b_3": "#{$b_3}",
"b_4": "#{$b_4}",
"b_5": "#{$b_5}",
"b_6": "#{$b_6}",
"b_7": "#{$b_7}",
"b_8": "#{$b_8}",
"b_9": "#{$b_9}",

"i_1": "#{$i_1}",
"i_2": "#{$i_2}",
"i_3": "#{$i_3}",
"i_4": "#{$i_4}",
"i_5": "#{$i_5}",
"i_6": "#{$i_6}",
"i_7": "#{$i_7}",
"i_8": "#{$i_8}",
"i_9": "#{$i_9}",

"v_1": "#{$v_1}",
"v_2": "#{$v_2}",
"v_3": "#{$v_3}",
"v_4": "#{$v_4}",
"v_5": "#{$v_5}",
"v_6": "#{$v_6}",
"v_7": "#{$v_7}",
"v_8": "#{$v_8}",
"v_9": "#{$v_9}"
);

@each $x, $y in $_ {
    .#{$x} {
        background: unquote('rgba(#{$y},1)');     
    }
    @for $z from 1 through 9 {
        .#{$x}_#{$z} {
            background: unquote('rgba(#{$y},#{$z / 10})');
        }
    }
}
