//  | TYPE _____________________________________________|
//  | a          | abbr       | address    | b          |
//  ·            ·		      ·		       ·			·
//  | bdi        | bdo        | blockquote | br			|
//  ·            ·		      ·		       ·			·
//  | caption    | cite       | code       | del        |
//  ·            ·		      ·		       ·			·
//  | dfn        | em         | figcaption | h1         |
//  ·            ·		      ·		       ·			·
//  | h2		 | h3         | h4         | h5         |
//  ·            ·		      ·		       ·			·
//  | h6         | hr         | i          | ins		|
//  ·            ·		      ·		       ·			·
//  | kbd        | mark       | p          | pre        |
//  ·            ·		      ·		       ·			·
//  | q          | ruby       | s          | samp       |
//  ·            ·		      ·		       ·			·
//  | small		 | strong     | sub        | summary    |
//  ·            ·		      ·		       ·			·
//  | sup        | u          | var        |            |

// TYPE
// monochrome + opacity
@mixin type($type) {
	@if $type == true {
		//$link: 
		//$hover:
		//$focus:
		//$active:
		//$visited:
	}@else {
    	//$link: 
		//$hover:
		//$focus:
		//$active:
		//$visited:
	}
}

$h6: $base;
$h5: $h6 + 8;
$h4: $h6 * 2;
$h3: $h4 + 8;
$h2: $h6 * 3;
$h1: $h2 + 8;

$_sm: $base;
$xs: $sm - 4;
$md: $sm + 4;
$lg: $md + 4;
$xl: $lg + 4;
$_2x: $sm * 2;
$_3x: $sm * 3;
$_4x: $sm * 4;
$_5x: $sm * 5;
$_6x: $sm * 6;
$_7x: $sm * 7;
$_8x: $sm * 8;
$_9x: $sm * 9;









@font-face {
	font-family: i;
	{$_i};
}

@font-face {
	font-family: b;
	{$_b}
}

@font-face {
	font-family: s;
	{$_s}
}

@font-face {
	font-family: ss;
	{$_ss}

@font-face {
	font-family: ms;
	{$_ms}
}

.i,#_i {
	font-family: i;
}

.b,#_b {
	font-family: b;
}

.s,#_s {
	font-family: s;
}

.ss,#_ss {
	font-family: ss;
}

.ms,#_ms {
	font-family: ms;
}

h1 h2 h3 h4 h5 h6 {
	font-weight: 400;
	line-height: 1.1;
}

@for $_ from 1 through 6 {
	h#{$_}
		font-size: $_m: $_h + #{$_} px;
		font-size: (($_m / 10 rem));
		line-height: 110%;
		margin: (($_m / 2)) 0 (($_m / 2.5)) 0;
}
.xs, #_xs {
	font-size: $xs px;
	font-size: (($xs / 10 rem));						
}
.sm, #sm {
	font-size:  $sm px;
	font-size:  (($sm / 10 rem));
}
.md, #md {
	font-size:  $md px;
	font-size:  (($md / 10 rem));
}
.lg, #lg { 
	font-size:  $lg px;
	font-size:  (($lg / 10 rem));
}	
.xl, #xl { 
	font-size:  $xl px;
	font-size:  (($xl / 10 rem));
}
._2x, #_2x {
	font-size:  $_2x px;
	font-size:  (($_2x / 10 rem));
}		
._3x, #_3x { 
	font-size:  $_3x px;
	font-size:  (($_3x / 10 rem));
}	
._4x, #_4x { 
	font-size:  $_4x px;
	font-size:  (($_4x / 10 rem));
}
._5x, #_5x { 
	font-size:  $_5x px;
	font-size:  (($_5x / 10 rem));
}
._6x, #_6x { 
	font-size:  $_6x px;
	font-size:  (($_6x / 10 rem));
}
._7x, #_7x { 
	font-size:  $_7x px;
	font-size:  (($_7x / 10 rem));
}
._8x, #_8x { 
	font-size:  $_8x px;
	font-size:  (($_8x / 10 rem));
}
._9x, #_9x {
	font-size:  $_9x px;
	font-size:  (($_9x / 10 rem));
}
._base, #_base {
	font-size:  $_base px;
	font-size:  (($_base / 10 rem));
}

a {
	-webkit-text-decoration-skip: objects; 
	background-color: $clr;
	text-decoration: none;
	text-align: center;
	display: block;
}
a:active, 
a:hover {
	color: blue;
	outline: 0;
}

a:link{
	color: $link;
	opacity: 1;
}
a:hover{
	color: $hover;
	opacity: 1;
}
a:focus{
	color: $focus;
	opacity: 1;
}
a:active{
	color: $active;
	opacity: 1;
}
a:visited{
	color: $visited;
	opacity: 1;
}



@mixin reset-text {
	font-family: $font-family-base;
	// We deliberately do NOT reset font-size or overflow-wrap / word-wrap.
	font-style: normal;
	font-weight: $font-weight-normal;
	line-height: $line-height-base;
	text-align: left; // Fallback for where `start` is not supported
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: normal;
	line-break: auto;
  }
  


/*
abbr[title],
acronym[title], 
dfn[title] {
	border: none;
	text-decoration: none;
	text-decoration: underline dotted;
}
*/

address {
	$oblique;
}

b {
	text-decoration: underline;
	font-weight: inherit;
	font-weight: 800;
}


bdi
bdo
blockquote, 
q {
    quotes: none $vip;

blockquote:before, 
blockquote:after, 
q:before, 
q:after,
li:before,
li:after{
    content: "" $vip
}

blockquote {
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	min-height: 128px;
	padding: 2em 0;
	margin: 20 0;
	width: 100%;
}

br {
	padding: 1em;
	width: 100%;
	margin: 1em;
}
//caption

cite {
	$oblique
}

code {
	white-space: wrap;
	display: block;
}

code kbd, pre, samp{
  font-family: $ms;
}

del {
	opacity: .95;
}

dfn {
	text-decoration: line-through;
	$oblique;
}

em {
	$underline;
	$oblique;
	color: $mode;
}

//figcaption
//h1
//h2
//h3
//h4
//h5
//h6
hr {
	margin-bottom: 1em;
	overflow: hidden;
	width: 100%;
	height: 0;
}

i { 
	$underline;
	$oblique;
	color: $gry;
}

ins {
	background-color: #FFCC00;
	text-decoration: none;
	color: $mode;
}

//kbd

mark {
	vertical-align: bottom;
	text-decoration: none;
	background-color: #FFCC00;
	//color: 
	border-radius: 2px;
	position: relative;
	white-space: wrap;
	padding: 0.25%;
	outline: none;
	border: none;
}
p {
	text-align: justify;
	position: relative;
	display: block;
	margin-top: 0;
	height: auto;
	width: 100%;
}
pre {
	white-space: pre $vip;
	color: rgba_blk3 0.75;
}

q {
	border-bottom: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
	padding: 2em 2em 2em 2em;
	position: relative;
	margin-top: 2em;
	line-height: 2;
	display: block;
	quotes: "" "";
	height: auto;
	width: 100%;
}
//ruby
//s
//samp
small {
	font-size:  $sm;
	color: rgba_blk3 0.75;
}

strong {
	font-weight: inherit;
	font-weight: 700;
}

sub, sup {
    font-size:  75% $vip;
    line-height: 0 $vip;
    position: relative $vip;
    vertical-align: baseline $vip;
}

sub { 
    bottom: -0.25em $vip;
	color: rgba_blk3 0.75;
}

summary {
	color: rgba_blk3 0.75;
}

sup {
    top: -0.5em $vip;
	color: rgba_blk3 0.75; 
}

u {
	color: rgba_blk3 0.75;
}

//var
