//  | BASE ___________________|
//  | html       | body       |

html, body {
  min-height:  $minh;
  max-height:  $maxh;
  min-width:   $minw;
  max-width:   $maxw; 
  height:      100%;
  margin:      auto;
}

html {
  @include     dm($bg, $fg, $dark-mode);
  @include     iosTextSizeAdjust(100%);
  @include     typography($ss);
  width:       100%;
}

body {
  line-height: $base;
  font-size:   $base * 1rem;
  width:       auto;
}

body * {
  @include    xsb($xsb)
}
