@import '../_0/ZERO';

html, body {
  min-height: $minh;
  max-height: $maxh;
  min-width:  $minw;
  max-width:  $maxw; 
  height:     100%;
  margin:     auto;
}

html {
  @include    dm($bg, $fg, $dark-mode);
  width:      100%;
}

body {
  width:      auto;
}

body * {
  @include    xsb($xsb)
}
