@import ../_0/ZERO

html, body
  min-height: 100%
  min-width: $minw
  max-width: $maxw 
  height: 100%
  margin: auto

html
  //$dm($bg, $fg, $dark-mode)
  width: 100%

body
  width: auto

body *
  scrollbar-width: none
  ::-webkit-scrollbar
    display: none

// @import ../_2/ARCH
// @import ../_1/TYPE
// @import ../_1/LIST
// @import ../_1/FORM
// @import ../_1/TABLE
// @import ../_1/MEDIA
