html {
  @mixin sqrp(1px);
  font-family HKNova;
}

body {
  @mixin sqrb(1px,dashed,rgba(48,48,48,0.96));
  @mixin sqrp(1px);
}

.canvas {
  @mixin sqrb(0px,dashed,skyblue);
  background-image: url("logo.svg");
  background-repeat: repeat;
  background-size: 45px;
}

.c1 {
  background-color: rgba(96,96,96,0.64);
}

.c2 {
  background-color: rgba(48,48,48,0.64);
}

.c1 main {
  background-color: rgba(229, 226, 217,0.44);
  //@mixin m(8px, 0px, 8px, 0px);
}

.c2 {
  .notify {
  //@mixin sqrb(1px,solid,#FF4F00);
  }
}

.h1, .h2, .canvas footer nav { 
  //@mixin sqrb(0px,solid,#FF4F00);
}

.canvas footer a img, a + img, .canvas .h1 img {
  //background-color #ff4f00;
  //border-radius 100%;
}

.mondrian {
  @mixin sqrb(1px,dashed,#888888);
  background-image: url("logo.svg");
  background-repeat: repeat;
  background-size: 45px;
}
