// W&H
@mixin w($x,$y,$z) {
  max-width:   $x;
  min-width:   $y;
  width:       $z;
}

@mixin h($x,$y,$z) {
  max-height:  $x;
  min-height:  $y;
  height:      $z;
}

@mixin ww($x) {
  max-width:   $x;
  min-width:   $x;
  width:       $x;
}

@mixin hh($x) {
  max-height:  $x;
  min-height:  $x;
  height:      $x;
}

@mixin wh($x,$y,$z) {
  max-width:   $x;
  max-height:  $x;
  min-width:   $y;
  min-height:  $y;
  width:       $z;
  height:      $z;
}

@mixin sqr($x) {
  max-height:  $x;
  min-height:  $x;
  max-width:   $x;
  min-width:   $x;
  height:      $x;
  width:       $x;
}

@mixin sqrh($x) {
  max-height:  $x;
  min-height:  $x;
  max-width:   100%;
  min-width:   100%;
  height:      $x;
  width:       100%;
}

@mixin sqrw($x) {
  max-height:  100%;
  min-height:  100%;
  max-width:   $x;
  min-width:   $x;
  height:      100%;
  width:       $x;
}

@mixin rct($x) {
  max-height:  $x;
  min-height:  $x;
  height:      $x;
  max-width:   calc($x / 3);
  min-width:   calc($x / 3);
  width:       calc($x / 3);
}

@mixin column($base) {
  max-width: calc($base * 40);
  min-width: $minw;
  width:     100%;
}

@mixin nav($x,$y) {
  width:       $x;
  height:      $y;
}

// MARGIN
@mixin m($t,$r,$b,$l) {
  margin: $t $r $b $l;
}

@mixin sqrm($x) {
  margin: $x $x $x $x;
}

// PADDING
@mixin p($t,$r,$b,$l) {
  padding: $t $r $b $l;
}

@mixin sqrp($x) {
  padding: $x $x $x $x;
}

// BORDER
@mixin b($t,$r,$b,$l,$s,$c) {
  border-width: $t $r $b $l;
  border-style: $s;
  border-color: $c;
}

@mixin sqrb($w,$s,$c) {
  border-width: $w;
  border-style: $s;
  border-color: $c;
}

@mixin blr($r,$l,$x,$y) {
  border-right:  $r $x $y;
  border-left:   $l $x $y;
}

@mixin btb($t,$b,$x,$y) {
  border-top:    $t $x $y;
  border-bottom: $b $x $y;
}

// FLEX BOX
@mixin f($a,$b,$c,$x,$y,$z) {
  display:         $a;
  flex-flow:       $b $c;
  justify-content: $x;
  align-content:   $y;
  align-items:     $z;
}

@mixin i($a,$b,$c,$x,$y) {
  flex:            $a $b $c;
  order:           $x;
  align-items:     $y;
}

@mixin xsb($xsb) {
  @if $xsb == true {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
    ::-webkit-scrollbar{
      display: none;
    }
  } 
}

// DARK MODE
@mixin dm($bg, $fg, $dark-mode) {  
  @if $dark-mode == true {
    $bg: $blk;
    $fg: $wht;
    background-color: unquote('rgb(#{$bg})');
    color:            unquote('rgb(#{$fg})');
  }@else {
    background-color: unquote('rgb(#{$bg})');
    color:            unquote('rgb(#{$fg})');
  }
}



// TO:DO CONVERT TO SELF HOSTED FIREBASE DYNAMIC LINKS
/*@import  $icon:  url('https://tinyurl.com/gf-icons');
@import  $serif: url('https://tinyurl.com/gf-serif');
@import  $sans:  url('https://tinyurl.com/gf-sans');
@import  $mono:  url('https://tinyurl.com/gf-mono');


$ms: src url(../$1/@FF/ms.woff2) format('woff2');
$ss: src url(../$1/@FF/ss.woff2) format('woff2');
$s:  src url(../$1/@FF/s.woff2) format('woff2');
$i:  src url(../$1/@FF/i.woff2) format('woff2');
$b:  src url(../$1/@FF/b.woff2) format('woff2');
*/
