// WIDTH
@mixin w($x,$y,$z) {
  max-width:   $x;
  min-width:   $y;
  width:       $z;
}

// HEIGHT
@mixin h($x,$y,$z) {
  max-height:  $x;
  min-height:  $y;
  height:      $z;
}

// WIDTH & HEIGHT
@mixin wh($x,$y,$z) {
  max-width:   $x;
  max-height:  $x;
  min-width:   $y;
  min-height:  $y;
  width:       $z;
  height:      $z;
}

// W - FH 
@mixin wfh($w) {
  max-height:  100%;
  min-height:  100%;
  max-width:   $w;
  min-width:   $w;
  height:      100%;
  width:       $w;
}

// H - FW
@mixin hfw($h) {
  max-height:  $h;
  min-height:  $h;
  max-width:   100%;
  min-width:   100%;
  height:      $h;
  width:       100%;
}

// SQUARE
@mixin sqr($x) {
  max-height:  $x;
  min-height:  $x;
  max-width:   $x;
  min-width:   $x;
  height:      $x;
  width:       $x;
}

// RECTANGLE
@mixin rct($x) {
  max-height:  $x;
  min-height:  $x;
  height:      $x;
  max-width:   calc($x / 3);
  min-width:   calc($x / 3);
  width:       calc($x / 3);
}

// TRBL
@mixin trbl($t,$r,$b,$l,$z,$p) {
  top:      $t;
  right:    $r; 
  bottom:   $b; 
  left:     $l;
  z-index:  $z;
  position: $p;
}

// TOP
@mixin t($t,$z,$p) {
  top:      $t;
  z-index:  $z;
  position: $p;
}
@mixin tr($t,$r,$z,$p) {
  top:      $t;
  right:    $r;
  z-index:  $z;
  position: $p;
}
@mixin tl($t,$l,$z,$p) {
  top:      $t;
  left:     $l;
  z-index:  $z;
  position: $p;
}
@mixin tc($t,$z,$p) {
  top:        $t;
  left:       50%;
  z-index:    $z;
  position:   $p;
  transform:  translateX(-50%);
}

// RIGHT
@mixin r($r,$z,$p) {
  right:    $r;
  z-index:  $z;
  position: $p;
}
@mixin rc($r,$z,$p) {
  right:      $r;
  top:        50%;
  z-index:    $z;
  position:   $p;
  transform:  translateY(-50%);
}

// BOTTOM
@mixin b($b,$z,$p) {
  bottom:   $b;
  z-index:  $z;
  position: $p;
}
@mixin br($b,$r,$z,$p) {
  bottom:   $b;
  right:    $r;
  z-index:  $z;
  position: $p;
}
@mixin bl($b,$l,$z,$p) {
  bottom:   $b;
  left:     $l;
  z-index:  $z;
  position: $p;
}
@mixin bc($b,$z,$p) {
  bottom:     $b;
  left:       50%;
  z-index:    $z;
  position:   $p;
  transform:  translateX(-50%);
}

// LEFT
@mixin l($l,$z,$p) {
  left:     $l;
  z-index:  $z;
  position: $p;
}
@mixin lc($l,$z,$p) {
  left:       $l;
  top:        50%;
  z-index:    $z;
  position:   $p;
  transform:  translateY(-50%);
}

// CENTER
@mixin cc($z,$p) {
  top:        50%;
  left:       50%;
  z-index:    $z;
  position:   $p;
  transform:  translate(-50%,-50%);
}

// FLEX
@mixin f($a,$b,$c,$x,$y,$z) {
  display:         $a;
  flex-flow:       $b $c;
  justify-content: $x;
  align-content:   $y;
  align-items:     $z;
}

@mixin i($a,$b,$c,$x,$y) {
  flex:            $a $b $c;
  order:           $x;
  align-items:     $y;
}

// NAVIGATION
@mixin nav($nav) {
  @if $nav == true {
    @include    sqrh($nav-h);
    top:        top;
  }@else if $nav == true {
    @include    sqrh($nav-h);
    bottom:     0;
  }@else if $nav == true {
    @include    sqrw($nav-w);
    left:       0;
  }@else if $nav == true {
    @include    sqrw($nav-w);
    right:      0;
  }
}

// TYPOGRAPHY
@mixin typography($ff) {
  font-family: $ff;
  font-size: $font;
}

@mixin iosTextSizeAdjust($x) {
  -webkit-text-size-adjust: $x;
  -ms-text-size-adjust:     $x;
}

// SCROLLBAR
@mixin xsb($xsb) { 
  @if $xsb == true {
  -ms-overflow-style: none;
  scrollbar-width:    none;
  overflow:           hidden;
    ::-webkit-scrollbar {
      display:        none;
    }
  } 
}

// DARK MODE
@mixin dm($bg, $fg, $dark-mode) {  
  @if $dark-mode == true {
    $bg: $blk;
    $fg: $wht;
    background-color: unquote('rgb(#{$bg})');
    color:            unquote('rgb(#{$fg})');
  }@else if $bg == $wht && $fg == $blk {
    background-color: unquote('rgb(#{$bg})');
    color:            unquote('rgb(#{$fg})');
  }@else {
    $bg: $bg;
    $fg: $fg;
  }
}

// ANIMATIONS
// TRANSITIONS
// TRANSFORMS